# Server
NODE_ENV=development # Use "production" in production environment
MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/ppi?retryWrites=true&w=majority
JWT_SECRET=replace-me
CLOUD_BUCKET=local-dev
CLOUD_REGION=ca-central-1
OPENAI_API_KEY=sk-...
ALLOWED_ORIGIN=http://localhost:5173

# App
VITE_API_BASE=http://localhost:8080
APP_ENV=dev

# App Development Server
PORT=5173
USE_HTTPS=true
SSL_KEY_PATH=./key.pem
SSL_CERT_PATH=./cert.pem
API_URL=http://localhost:8080
